html {
    height: 100%;

    background-color: #393939;
    background-image: url('../images/html.png');
}
body {
    height: 100%;
    min-width: 960px;
}

.layout {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -238px;
    width: 850px;
}
    .layout__fake-footer {
        height: 238px;
    }

.header {
    padding: 34px 0 85px;
}
    .header__logo {
        float: left;
        margin-bottom: -13px;
        margin-left: -142px;
    }
    .header__slogan {
        clear: left;
        float: left;
        width: 157px;
        margin-left: -10px;
        margin-top: -8px;

        color: #b3b3b3;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 15px;
        text-align: right;
    }

.page {
    display: none;
}

.page-active {
    display: block;
}

.search {
    border-radius: 12px;
    margin: 50px 0 200px;
    padding: 40px 40px 30px;

    background-color: rgba(0, 0, 0, .13);
}
    .search__input {
        border: 3px solid #000;
        border-radius: 12px;
        box-sizing: border-box;
        height: 70px;
        margin: 0;
        outline: none;
        padding: 0 20px;
        width: 100%;

        background-color: #fff;

        color: #333;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: normal;
    }
    .search__input::-webkit-input-placeholder { color: #c1c1c1; }
    .search__input:focus::-webkit-input-placeholder { color: #eee; }
    .search__example {
        margin-top: 10px;
        padding: 0 23px;

        color: #aaa;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
    }
        .search__example a {
            border-bottom: 1px dashed #aaa;

            color: #aaa;
            text-decoration: none;
        }
        .search__example a:hover { border-color: transparent; }

.platforms {
    padding: 50px 0;
}
    .platforms__toggle {
        margin: 0 0 50px;
        padding: 0;

        font-size: 0;
        line-height: 0;
        text-align: center;
    }
        .platforms__item {
            border-radius: 5px;
            display: inline-block;
            padding: 5px 20px;
            margin-left: 50px;

            color: #fff;
            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 20px;
            list-style: none;

            background-color: #000;

            cursor: pointer;
        }
        .platforms__item:first-child { margin-left: 0; }
        .platforms__item:hover, .platforms__item_state_active {
            background: #00b4ff;
            color: #000;
        }
        .platforms__item.platforms__item_amazon {}
        .platforms__item.platforms__item_heroku {}
    .platforms__form {
        display: none;
        border-radius: 20px;
        background: rgba(0, 0, 0, .4);
        margin: auto;
        padding: 50px;
        width: 500px;
    }
    .platforms__form.platforms__form_amazon {
        display: block;
    }
    .platforms__form.platforms__form_heroku {}
        .platforms__form input {
            border: 1px solid #000;
            border-radius: 5px;
            box-sizing: border-box;
            display: block;
            height: 50px;
            margin-bottom: 10px;
            outline: none;
            padding: 0 20px;
            width: 100%;
        }
        .platforms__form button {
            border: 1px solid #000;
            border-radius: 5px;
            box-sizing: border-box;
            display: block;
            height: 50px;
            margin: 20px auto 0;
            padding: 0 10px;
            width: 50%;

            background: #00b4ff;

            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-weight: bold;

            color: #fff;
        }

.technologies {
    border-radius: 20px;
    margin: 50px 180px;
    padding: 50px;

    background: rgba(0, 0, 0, .4);
}

.technologies:after,
.technologies:before {
    display: table;

    content: '';
}
.technologies:after {
    clear: both;
}
    .technologies__titles {
        margin: 0 0 60px;
        padding: 0;
    }
        .technologies__title {
            float: left;
            width: 50%;

            color: #fff;
            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: 24px;
            list-style: none;
        }
    .technologies__list {
        float: left;
        margin: 0 0 20px;
        padding: 0;
        width: 50%;
    }
        .technologies__item {
            margin-bottom: 10px;

            color: #fff;
            font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            font-size: 16px;
            list-style: none;
        }
            .technologies__toggle {
                border-radius: 5px;
                display: inline-block;
                padding: 5px 20px;

                color: #fff;
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 16px;
                line-height: 20px;
                list-style: none;

                background-color: #000;

                cursor: pointer;
            }
            .technologies__toggle:hover, .technologies__toggle.technologies__toggle_state_active {
                background: #00b4ff;
                color: #fff;
            }
    .technologies__submit {
        clear: both;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        height: 50px;
        margin: auto;
        width: 50%;

        background: #00b4ff;

        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 50px;
        text-decoration: none;
        text-align: center;

        color: #fff;
    }

.footer {
    border: 1px solid #4a4a4a;
    height: 236px;

    position: relative;

    background: rgba(0, 0, 0, .4);
}
.footer:before {
    height: 1px;

    position: absolute;
    top: -2px;
    right: -1px;
    left: -1px;

    background-color: #1a1a1a;

    content: '';
}
    .footer__inner {
        margin: auto;
        width: 850px;
    }
        .footer__sidebar {
            float: right;
            padding: 44px 0 0;
            width: 160px;
        }
            .footer__logo {
                display: inline-block;
                margin-bottom: -13px;
            }
                .footer__logo img { display: block; }
     /*       .footer__slogan {
                color: #b3b3b3;
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 11px;
                font-weight: normal;
                line-height: 15px;
                text-align: right;
                margin-left: 100px;
            }

.twitter {
    float: left;
    height: 70px;
    margin-top: 30px;
    padding: 79px 19px 19px 56px;
    width: 215px;

    background-image: url('../images/twitter.png');
}
    .twitter__message {
        margin-bottom: 20px;

        color: #858585;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
    }
    .twitter__date {
        color: #0b81be;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: italic;
        font-weight: normal;
        line-height: 18px;
    } */
	
